<div class="mt-8 space-y-16 px-2 max-w-4xl mx-auto">
  <h1 class="text-4xl"><%= title 'サインイン' %></h1>

  <%= form_with(url: sign_in_path, method: :post, class: 'space-y-6', builder: HorizontalFormBuilder) do |form| %>
    <%= render HorizontalFormRowComponent.new do |component| %>
      <% component.with_label do %>
        <%= form.label :username, 'ユーザー名' %>
      <% end %>
      <% component.with_field do %>
        <%= form.text_field :username, class: 'rounded' %>
      <% end %>
    <% end %>

    <%= render HorizontalFormRowComponent.new do |component| %>
      <% component.with_label do %>
        <%= form.label :password, 'パスワード' %>
      <% end %>
      <% component.with_field do %>
        <%= form.password_field :password, class: 'rounded' %>
      <% end %>
    <% end %>

    <div class="sm:flex justify-end">
      <div class="sm:w-2/3">
        <%= form.submit 'サインイン', class: 'bg-blue-600 hover:bg-blue-400 text-white py-2 px-4 rounded cursor-pointer' %>
      </div>
    </div>
  <% end %>

  <div class="sm:w-2/3 sm:mr-0 ml-auto">
    <%= link_to 'GitHubアカウントでログイン', auth_at_provider_path(provider: :github),
      class: 'bg-slate-800 hover:bg-slate-600 text-white py-2 px-4 rounded cursor-pointer inline-block' %>
  </div>

  <div class="sm:w-2/3 sm:mr-0 ml-auto">
    アカウントを持っていない：<%= link_to 'ユーザー登録', sign_up_path, class: 'text-blue-600 underline' %>
  </div>
</div>
